*{
    font-family: 'Poppins', sans-serif; 
   
}

h1{
    font-size: 50px;
}
.orange-text{
    color: orange;
}
.header-content{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
    margin: -8px;
}
.hire-btn{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    margin: 10px 0;
    display: inline-block;
}
.half-width{
    width: 50%;
    margin-left: 5%;
}
.header-left{
    padding: 15px;
    margin-top: 45px;
}
.header-right img{
     width: 70%;
     margin-top: 15px;
}
.dream-big{
    display: flex;
    margin-top: 150px;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right ;
}

.dream-big .dream-left img{
    width: 70%;
}
.dream-big .dream-right a{
    text-decoration: none;
    background: linear-gradient(45deg, lightsalmon, tomato);
    color: #fff;
    padding: 10px 40px;
    border-radius: 5px;
    font-weight: 700;
    margin: 10px 0;
    display: inline-block;
}
.experiences{
    margin: 150px -8px;
}
.experiences .ex-h1{
    text-align: center;
    font-size: 50px;
    margin-bottom:75px;
    
}
.experiences .dream-content{
    display: flex;
}

.experiences .ex-item h3{
    color: orange;
}
.experiences .ex-item p{
    text-align: justify;
    padding-right: 50px;
}
.experiences .dream-content{
    width: 90%;
    margin: 0 auto;
}
.experiences .ex-item{
    border-radius: 10px;
    width: 40%;
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 40px;
    box-shadow: 10px 10px 40px grey;
    border-left: 10px solid #000;
}
.experiences{
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#full-stack{
    border-left: 7px solid;
    border-image: linear-gradient(
180deg, lightsalmon, tomato);
    border-image-slice: 1;
}
#baby-devloper {
    border-left: 7px solid;
    border-image: linear-gradient(
180deg, blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;
}


